<!DOCTYPE html>
<html>
<head>

    <title>Appointment Booking</title>

    <link rel="stylesheet" href="../css/appointment.css">

</head>

<body>

<div class="container">

<h2>Appointment Booking</h2>

<form id="appointmentForm">

<label>Patient</label>
<select id="patient"></select>

<label>Department</label>
<select id="department"></select>

<label>Doctor</label>
<select id="doctor"></select>

<label>Date</label>
<input type="date" id="date" required>

<label>Time</label>
<input type="time" id="time" required>

<button>Book Appointment</button>

</form>

<p id="message"></p>

</div>

<script src="../javascript/appointment.js"></script>

</body>
</html>