<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Billing Information</title>

    <link rel="stylesheet" href="../css/billInfo.css">

</head>

<body>

<div class="container">

<h2>Billing Information</h2>

<table>

    <thead>

        <tr>

            <th>Bill ID</th>

            <th>Appointment ID</th>

            <th>Consultation Fee</th>

            <th>Lab Test Fee</th>

            <th>Medicine Cost</th>

            <th>Room Charges</th>

            <th>Total Amount</th>

            <th>Payment Status</th>

        </tr>

    </thead>

    <tbody id="billingTable">

    </tbody>

</table>

</div>

<script src="../javascript/billInfo.js"></script>

</body>

</html>