<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Contact Hospital</title>

    <link rel="stylesheet" href="../css/contactInfo.css">

</head>

<body>

<div class="container">

    <h2>Contact Hospital</h2>

    <table>

        <thead>

            <tr>

                <th>Hospital Phone</th>

                <th>Hospital Email</th>

                <th>Hospital Address</th>

            </tr>

        </thead>

        <tbody id="contactTable">

        </tbody>

    </table>

</div>

<script src="../javascript/contactInfo.js"></script>

</body>

</html>