<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Departments</title>

    <link rel="stylesheet" href="../css/dept.css">

</head>

<body>

    <div class="container">

        <h2>Hospital Departments</h2>

        <table>

            <thead>

                <tr>

                    <th>Department ID</th>

                    <th>Department Name</th>

                </tr>

            </thead>

            <tbody id="departmentTable">

            </tbody>

        </table>

    </div>

    <script src="../javascript/dept.js"></script>

</body>

</html>