<!DOCTYPE html>
<html>
<head>
    <title>Doctor Information</title>
    <link rel="stylesheet" href="../css/doctors.css">
</head>
<body>

<h2>Doctor Information</h2>

<table>

    <thead>

        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Qualification</th>
            <th>Experience</th>
            <th>Available Time</th>
            <th>Contact</th>
            <th>Fee</th>
        </tr>

    </thead>

    <tbody id="doctorTable">

    </tbody>

</table>

<script src="../javascript/doctors.js"></script>

</body>
</html>