<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emergency Services</title>

    <link rel="stylesheet" href="../css/eServiceInfo.css">

</head>

<body>

<div class="container">

    <h2>Emergency Services</h2>

    <table>

        <thead>

            <tr>

                <th>Emergency Contact Number</th>

                <th>Ambulance Service</th>

                <th>Emergency Doctor</th>

            </tr>

        </thead>

        <tbody id="emergencyTable">

        </tbody>

    </table>

</div>

<script src="../javascript/eServiceInfo.js"></script>

</body>

</html>