<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Medicine Information</title>

    <link rel="stylesheet" href="../css/medicineInfo.css">

</head>

<body>

<div class="container">

    <h2>Medicine Information</h2>

    <table>

        <thead>

            <tr>

                <th>Medicine ID</th>

                <th>Medicine Name</th>

                <th>Price</th>

                <th>Usage</th>

                <th>Dosage</th>

                <th>Stock</th>

            </tr>

        </thead>

        <tbody id="medicineTable">

        </tbody>

    </table>

</div>

<script src="../javascript/medicineInfo.js"></script>

</body>

</html>